<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ChurchDir</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if IE]>
    <meta name="X-UA-Compatible" content="IE=edge">
    <![endif]-->

    <meta name="apple-mobile-web-app-title" content="ChurchDir">
    <meta name="application-name" content="ChurchDir">
    <meta name="theme-color" content="#ffffff">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <!-- three -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/92/three.min.js"></script>
    <script src="https://files.webmr.io/_files/emily@sweetiebird.io/civet-slushy-361/js/ColladaLoader.js"></script>
    <script src="https://files.webmr.io/_files/emily@sweetiebird.io/civet-slushy-361/js/Detector.js"></script>
    <style>
        body {
            background-color: var(--color-neutral-bg);
        }
    </style>
</head>
<body>
    <div id="app"></div>
    <div id="modalRoot"></div>
</body>
</html>
